.App {}




/*btn css*/

.btn {
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
}

.btn:hover {
    cursor: pointer;
}

.btn-primary {
    background-color: #0D6EFD;
    color: white;
}

.btn-primary:hover {
    background-color: #0b5ed7;
}

.btn-warning {
    background-color: #FFC107;
    color: black;
}

.btn-warning:hover {
    background-color: #ffca2c;
}

.btn-danger {
    background-color: #DC3545;
    color: white;
}

.btn-danger:hover {
    background-color: #bb2d3b;
}

.btn-success {
    background-color: #28A745;
    color: white;
    width: 100px;
    height: 10px;
    border-radius: 5px;
}

.btn-success:hover {
    background-color: #28A745;
}


img.home-img {
    width: 450px;
  
}

div.home-img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    height: auto;
}



/*--------Sign In---------------*/


.form-inputSignin {
    width: 350px;
    border: 2px solid #1eb2a6;
    border-radius: 8px;
    height: 45px;
    font-size: 17px;
    padding: 5px 15px;
    padding-top: 8px;
}

.form-inputSignin:focus {
    outline: none;
    border: 3px solid #1eb2a6;
}



.form-select {
    width: 100%;
    border: 2px solid #1eb2a6;
    border-radius: 8px;
    height: 45px;
    font-size: 16px;
}

.form-select:focus {
    outline: none;
    border: 3px solid #1eb2a6;
}

label.primary{
    background-color: #fff;
    position: absolute;
    top: -12px;
    left: 10px;
    padding: 0 5px;
}

.image-container{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.form-containerr{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container{
    position: relative;
    margin-bottom: 25px;
    margin-right: 50px;
    margin-left: 50px;
}

.signup{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center-item{
    display: flex;
    justify-content: center;
    align-items: center;
}


image-containerprofile{
    width: 50%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-containerprofile{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-item-profile{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ---------- CSS FROM itp -------------------------------------*/



.supplier {
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

div.btn-inlinesupplier {
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
    width: 60%;
}

button.btn-inlinesupplier {
    border: #1eb2a6 2px solid;
    border-radius: 20px;
    padding: 10px;
    width: 200px;
    background-color: white;
    font-weight: bold;
}

button.btn-inlinesupplier:hover {
    background-color: #1eb2a6;
    color: white;
    cursor: pointer;
}

#rectanglesupplierhome{
    width:100%;
    height:200px;
    background:#f2f2f2;
    border-radius:20px;
}

.semi-preview-container1 {
    width: 30%;
    background-color: #81C3D8;
    padding: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

.inline-formsSupplier {
    width: 49%;
    margin-left: auto;
    margin-right: auto;
}

label {
    font-weight: bold;
}

.form-inputSupplier {
    width: 240%;
    border: 2px solid #1eb2a6;
    border-radius: 8px;
    height: 40px;
    font-size: 16px;
    margin-bottom: 15px;
}

.form-inputSupplier:focus {
    outline: none;
    border: 3px solid #1eb2a6;
}

.form-select {
    width: 91.5%;
    border: 2px solid #1eb2a6;
    border-radius: 8px;
    height: 45px;
    font-size: 16px;
    margin-bottom: 15px;
}

.form-select:focus {
    outline: none;
    border: 3px solid #1eb2a6;
}

#Supplierrectangle{
    margin-left: 20px;
    margin-right: 20px;
    background:#f2f2f2;
    border-radius:20px;
}


button.searchSupplier {
    border: #1eb2a6 2px solid;
    color: #1eb2a6;
    padding: 10px;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    margin-left: 250px;
}

button.searchSupplier:hover {
    background-color: #1eb2a6;
    color: white;
    cursor: pointer;
}

input.searchSupplier {
    border: #1eb2a6 2px solid;
    padding: 10px;
    border-left: 1px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    width: 300px;
}

/* Display all */

.content-tablesupplier {
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 15px 15px 0 0;
    padding: 50%;
    width: 100%;
}

.content-tablesupplier thead tr {
    background-color: #1eb2a6;
    color: white;
    text-align: center;
    font-weight: bold;
}

.content-tablesupplier th,
.content-tablesupplier td {
    padding: 5px;
    text-align: center;
    border-right: 2px solid #1eb2a6;
}

.content-tablesupplier th {
    padding-top: 10px;
    padding-bottom: 10px;
}

.content-tablesupplier tbody tr {
    border-bottom: 1px solid #D9D9D9;
}

.content-tablesupplier tbody tr:nth-of-type(even) {
    background-color: #f2f2f2;
}

.content-tablesupplier tbody tr:last-of-type {
    border-bottom: none;
}

.content-tablesupplier tr:last-of-type td:first-child {
    border-bottom-left-radius: 7px;
}

.content-tablesupplier tr:last-of-type td:last-child {
    border-bottom-right-radius: 7px;
}

.tData {
    align-items: center;
}

div.table-supplier {
    margin-left:auto; 
    margin-right: auto;
    width: 98%;
    border: #1eb2a6 2px solid;
    border-radius: 10px;
}
