.container-beg1{
    background-color: #072724;
    width: 650px;
    height: 550px;
    margin-top: 5px;
    margin-left: 125px;
    border: 5px solid #1eb2a6;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    
}

.container-inter1 {
    background-color: #072724;
    width: 750px;
    height: 550px;
    margin-top: 5px;
    margin-right: 200px;
    margin-left: 500px;
    border: 5px solid #1eb2a6;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.container-comp {
    background-color: #072724;
    width: 550px;
    height: 550px;
    margin-top: 5px;
    margin-right: 70px;
    border: 5px solid #1eb2a6;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.bg {
    background-color: #1eb2a67c;
}

.main-container1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 68px;
    background-color: #1eb2a650;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    padding-bottom: 5px;
}

.smile-icon {
    width: 200px;
    height: 200px;
    color: #1eb2a6;
}

.title h2, .title-int h2 {
    color: white;
    text-align: center;
    margin: 20px 0 8px;
}

.paragraph p {
    color: wheat;
    text-align: center;
}

.button-start {
    background-color: #1eb2a6;
    color: white;
    border-radius: 50px;
    transition: 0.5s;
}

.button-start:hover {
    margin-top: 10px;
    background-color: white;
    color: #1eb2a6;
    border-radius: 50px;
    transition: 0.5s;
}


@media (max-width: 1300px) {
    .main-container1 {
        flex-direction: column;
        align-items: center;
        margin: 8px 20px 30px;
    }
    
    .container-beg1, .container-inter1, .container-comp {
        width: 90%;
        margin: 5px 0;
    }
}
.con-syntax{
    border: solid 1px lightskyblue;
    border-radius: 20px;
    background-color:  #1eb2a6;;
    color: white;
    margin-left: 8px;
    margin-top: 5px;
    padding: 10px;

}
.but-con {
    display: flex;
    justify-content: center; /* Centers children horizontally */
    align-items: center; /* Centers children vertically */
    height: 100px; /* Adjust height as needed */
}

.begbut {
    background-color: #1eb2a6;
    color: white;
    border-radius: 10px;
    width: 120px;
    border: none; /* Ensure no border unless hovered */
    cursor: pointer; /* Indicates it's clickable */
    padding: 10px 20px; /* Add padding for better visuals */
    margin: 0 10px; /* Space between buttons */
}

.begbut:hover {
    background-color: white;
    color: #1eb2a6;
    border: solid 1px #1eb2a6;
}
