.table_header {
    padding: 2%;
}

.table_body {
    width: 90vw;
    margin: 0 auto;
}

.table_body table{
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
}

.table_body table,
.table_body thead,
.table_body th,
.table_body td {
    padding: 1rem;
}
